.header {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--font-secondary);
  margin: 0 1rem;
  padding: 1rem 3rem;
  &__nav {
    display: flex;
    justify-content: space-between;

    width: 50%;
  }

  &__link {
    color: var(--font-primary);
    &:hover {
      border-bottom: 1px solid var(--font-primary);
    }

    &__active {
      border-bottom: 1px solid var(--font-primary);
    }

    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
}

@include respond(tab) {
  .header {
    &__nav {
      width: 100%;
      justify-content: space-between;
    }
    &__link {
      margin: 0;
      padding: 0.25rem 1rem;
    }
  }
}
