.home {
  margin: 0 1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  grid-template-areas: ". . info . .";

  &__info {
    grid-area: info;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-areas:
      ". title ."
      ". subtitle ."
      ". text .";

    &__title {
      grid-area: title;
    }
    &__subtitle {
      grid-area: subtitle;
    }
    &__text {
      grid-area: text;
    }
  }
}
