:root {
  --backgroung-primary: #fcf6ed;
  --background-primary-darker: #a29589;
  --background-secondary: #009897;
  // --font-primary: #101b1b;
  --font-primary: #021818;
  --font-secondary: #fbfbf9;
  // --font-primary: rgb(71, 255, 35);
  --boxshadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.253);

  --font-max: 1.8rem;
  --font-min: 1.2rem;

  --font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
  // font-size: 1.6rem;
}
