.home__header {
  grid-area: header;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    ". . . . . ."
    ". . . . . ."
    ". . info info . ."
    ". . info info . ."
    ". . . . . ."
    ". . . . . .";

  position: relative;
  height: 100rem;
  width: 100vw;
  max-width: 100%;

  margin-top: -1rem;

  &__hero {
    height: 100%;
    width: 100vw;
    max-width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}

@include respond(phone) {
  .home__header {
    height: 100%;
  }
}
