@import "./info.scss";
@import "./header.scss";
@import "./skills.scss";
@import "./projects.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
