@import "./info.scss";
@import "./header.scss";
@import "./skills.scss";
@import "./projects.scss";

.home {
  margin: 0rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
