.home__info {
  display: grid;
  grid-area: info;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-areas: "subtitle";
  align-items: center;
  text-align: center;

  width: 100%;
  height: 100%;
  padding: 1rem;

  background-color: var(--background-primary-darker);
  color: var(--font-secondary);
  z-index: 2;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
