.projects {
  margin: 10rem 0;
  grid-area: projects;
  min-height: 100rem;
  display: flex;
  flex-direction: column;

  &__card {
    display: flex;
    justify-content: space-around;

    width: 75vw;
    max-height: 100rem;
    max-width: 100%;
    margin: 5rem 0;
    padding: 2rem;

    &__img {
      width: 100%;
      height: auto;

      box-shadow: var(--boxshadow);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-left: 2rem;
    }

    &__stack {
      display: flex;
      flex-direction: column;

      margin: 1rem 0;
      padding: 1rem 0;

      border-top: 1px solid var(--font-primary);
      border-bottom: 1px solid var(--font-primary);
    }

    &__description {
      padding: 1rem 0;
      margin: 1rem 0;
    }

    &__link {
      display: flex;
      flex-direction: column;
      a {
        margin: 1rem 0;
      }
    }
  }
}

@include respond(tab) {
  .projects {
    margin: 10rem 0;
    grid-area: projects;
    align-items: center;

    &__card {
      flex-direction: column;

      width: 95vw;
      max-width: 100%;

      margin: 2rem 0;
      display: grid;

      &__info {
        width: 95vw;
        max-width: 100%;
        margin: 1rem 0;
      }

      &__title {
        max-width: 100%;
        padding: 1rem;
      }

      &__img {
        width: 95vw;
        max-width: 100%;
        height: auto;
      }

      &__stack {
        width: 95vw;
        max-width: 100%;
        justify-content: space-around;
      }

      &__description {
        width: 100%;
      }

      &__link {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;
        max-width: auto;

        margin: 0;
      }
    }
  }
}
