.home__skills {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100rem;
  width: 100vw;
  max-width: 100%;

  margin-bottom: 10rem;
  padding: 0 5rem;
  background-color: var(--background-secondary);

  color: var(--font-secondary);

  &__card {
    grid-area: tools;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 40rem;
    padding: 2rem;
  }
}

@include respond(tab) {
  .home__skills {
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    height: 100%;

    &__card {
      margin: 1rem 0;
    }
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
