.home__skills {
  margin-top: 10rem;
  grid-area: skills;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;

  &__card {
    height: 100%;
    width: 40rem;
    grid-area: tools;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--card-background);
    box-shadow: var(--boxshadow);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@include respond(tab) {
  .home__skills {
    flex-direction: column;

    &__card {
      margin: 1rem 0;
    }
  }
}
